---
---

@import 'constants';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #f5f3f3;

  font: normal $TEXT-SIZE-MOBILE $FONT-TEXT;
  color: $TEXT-COLOR;

  @include media-query(DESKTOP) {
    font: normal $TEXT-SIZE $FONT-TEXT;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

s {
  text-decoration:line-through;
}

a {
  font: normal $TEXT-SIZE $FONT-TEXT;
  color: $LINK-COLOR;
  cursor: pointer;
  text-decoration: none;
  transition: color $TRANSITION-PERIOD linear;

  &:visited {
    color: $LINK-COLOR-VISITED;
  }

  &:hover {
    color: $LINK-COLOR-HOVER;
  }
}

li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}


ul{
    padding-left: 0px;
}

hr {
    display: block;
    height: 2px;
    width: 100%;
    unicode-bidi: isolate;
    margin-block-start: 10;
    margin-block-end: 10;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border: none;
    z-index: 10;
    color:white;
    background-color: rgba(38, 38, 38, 0.3);
}

#menu-mobile {
  display: block;
  width: 100%;
  z-index: 10;
  position: relative;
  padding: 30px 0;
  text-align: center;

  #menu-retratil {
    position: absolute;
    z-index: 20;
    width: 100%;
    background-color: $COLOR1;
    top: 0;
    padding-top: 30px;
    transition: left 0.3s linear;
  }

  .show-menu {
    position: absolute;
    left: 2 * $RESPONSIVE-SPACING;
    top: 30px;
    font-size: 24px;
  }

  .hide-menu {
    position: absolute;
    top: 20px;
    right: 2 * $RESPONSIVE-SPACING;
    font-size: 24px;
  }

  .menu-section-container + .menu-section-container {
    margin: 32px 0 16px;
    line-height: 25px;
  }

  .menu-section {
    width: 66%;
    margin: 0 auto;
  }

  @include media-query(DESKTOP) {
    display: none;
  }
}


.menu-hide {
  left: -100vw;
  @include media-query(DESKTOP) {
    left: 0;
  }
}

.menu-hide-silo {
  left: -100vw;
  @include media-query(DESKTOP) {
    left: 0;
    top: -155px;
  }
}

.menu-show {
  left: 0;
}
.menu-show-silo {
  left: 0;
  @include media-query(DESKTOP) {
    top: 0;
  }
}


.menu-section {
  border-top: 2px #000 solid;
  li a {
    text-transform: uppercase;
    text-decoration: none;
    font: normal $MENU-ITEM-SIZE $FONT-MENU;
    line-height: 1.7;
    vertical-align: middle;
    font-weight: 600;
  }
}

.menu-logo {
  height: 100%;
  min-height: 90px;
  background-image: url("{{site.baseurl}}/media/images/logos/silo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 10px;
  @include media-query(DESKTOP) {
    margin-bottom: 0;
  }
}


.menu {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0;
  padding-top: 1em;

  @include media-query(DESKTOP) {
    display: flex;
  }

  .menu-section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .menu-section {
    width: 170px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 8px;
    -webkit-margin-end: 0px;
  }
}

#menu-mobile ul, .menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#menu {
  position: fixed;
  z-index: 10;
  transition: top $TRANSITION-PERIOD linear;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: $COLOR3;
  width: 100%;
  margin: 0 auto;
  display: none;

  @include media-query(DESKTOP) {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 12% 0 8%;
  }

  .menu-title {
    width: 25%;
  }

  #menu-button {
    width: 100%;
    margin: 5px auto;
    text-align: center;
    font-size: 24px;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 2vw;
  }

  .menu-section {
    width: 20%;
    max-width: 200px;
    min-width: 120px;
  }
  .menu-section+.menu-section {
    margin-left: 10%;
  }
}

.menu-item {
  padding: 0;
  font-size: $MENU-ITEM-SIZE;
  font-weight: normal;
  color: $MENU-TEXT-COLOR;
  text-transform: none;
  display: inline;
  line-height: 40px;

  @include media-query(DESKTOP) {
    font-size: $MENU-ITEM-SIZE;
  }

  &:visited, a:visited {
    color: white;
  }

  &:hover {
    color: gray;
  }
}

.social-item {
  padding: 0;
  font-size: $MENU-ITEM-SIZE;
  font-weight: normal;
  color: $COLOR2;
  text-transform: none;
  display: inline;

  @include media-query(DESKTOP) {
    font-size: $MENU-ITEM-SIZE;
  }

  &:visited {
    color: $MENU-TEXT-COLOR;
  }

  &:hover {
    color: $MENU-TEXT-HOVER-COLOR;
  }
}

.menu-icon {
  font: normal 1.5rem $FONT-MENU;
  color: $LINK-COLOR;
  cursor: pointer;
  transition: color $TRANSITION-PERIOD linear;

  &:hover {
    color: $LINK-COLOR-HOVER;
  }
}

.main-div {
  display: block;
  width: 80%;
  box-sizing: border-box;
  margin: $RESPONSIVE-SPACING auto;

  @include media-query(DESKTOP) {
    width: 80%;
    margin: $RESPONSIVE-SPACING auto;
  }
}

.content-container {
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 1100px)  {
    min-height: 1100px;   
  }
  @media screen and (max-width: 500px)  {
    min-height: 500px;   
  }
}

#home{
background-color: $COLOR1;
}

#home{
background-image: url('{{ site.baseurl }}/media/images/background_index.png');
color: #262626 !important;
@media screen and (min-width: 1100px)  {
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}
    
 color: white;
    .menu{
        color: white;
    }
    a{
        color: white;
    }
    .menu-section{
           border-top: 2px #FFF solid;

    }
}

#post {
background-color: $COLOR1;
    @media screen and (min-width: 1100px)  {
        background-image: url('{{ site.baseurl }}/media/images/background_post.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

.content-home{
    position: absolute;
    top: 60%;
    right: 0;
    padding: 30px;
    width: 40%;
    height: auto;
    background-color: #262626;
    color: $COLOR1;  
    @media screen and (max-width: 800px)  {
        position: absolute;
        top: 20% !important;
        left: 5% !important;
        width: 80%;
    }
}
.home-menu {
  width: 100%;
  margin: 10px 0;
  text-align: right;
}

.home-menu-item {
  font: 900 $TEXT-SIZE $FONT-TEXT;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #262626;
  cursor: pointer;
    line-height: 80px;
  transition: color $TRANSITION-PERIOD linear;
  @media screen and (min-width: 800px) {
    color: #262626;
    padding-left: 50px;
    }

    
  &:visited {
    color: #262626;
  }

  &:hover {
    color: $MENU-TEXT-HOVER-COLOR;
  }
}

.home-images {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: 800px) {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80vh;
    min-height: 500px;
  }
}

.home-images-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15vh;

  @include media-query(DESKTOP) {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 15vh;
  }
}

.home-logo-2 {
    
@media screen and (max-width: 800px) {    
          width: 10%;
          height: 100%;
          position: absolute;
          top: 20px;
          right: 20px;
          background-position: right top;
}
    
  box-sizing: border-box;
  margin: 10px 10px 0 0;
  padding: 0;
  border: 0;
  background-image: url('{{ site.baseurl }}/media/images/logos/resilience_V.png');
  background-repeat: no-repeat;
  background-size: contain;
  
@media screen and (min-width: 800px) {
    width: 10%;
    height: 100%;
    left: 0;
    background-image: url('{{ site.baseurl }}/media/images/logos/resilience_V.png');
    background-position: center bottom;
    margin: 0 16px 0 0;
  }
}


.home-logo {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  margin: 0 16px 0 0;
  padding: 0;
  border: 0;
  background-image: url('{{ site.baseurl }}/media/images/logos/resilience_H.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @include media-query(DESKTOP) {
    width: 10%;
    height: 100%;
    background-image: url('{{ site.baseurl }}/media/images/logos/resilience_V.png');
    background-position: center bottom;
  }
}

.menu-section-title {
    @media screen and (min-width: 800px) {
    width: 50px !important;
    }
  }

.home-cover {
  width: 100%;
  height: 260px;
  box-sizing: border-box;
  margin: 10px 0 0;
  padding: 0;
  border: 0;
  background-image: url('{{ site.baseurl }}/media/images/home.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  @include media-query(DESKTOP) {
    width: 90%;
    height: 100%;
    margin: 0;
    background-size: cover;
  }
}

.home-residents-menu {
  width: 100%;
  margin: 32px 0;

  .menu-section-container + .menu-section-container {
    margin-top: 20px;
  }

  .menu-section {
    border: none;
  }

  .menu-section-title {
    font-size: 1rem;
    font-weight: 900;
    @include media-query(DESKTOP) {
      width: 50px !important;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    border-top: 2px $MENU-TEXT-COLOR solid;
    margin: 0;
    margin-left: 48px;
    padding: 0;

    @include media-query(DESKTOP) {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  li {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    text-align: left;

    @include media-query(DESKTOP) {
      text-align: center;
    }
  }
}

.post-logo {
  position: relative;
  width: 310px;
  height: 120px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url('{{ site.baseurl }}/media/images/logos/resilience_H.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}

.post-title {
  position: absolute;
  font: 900 $TITLE-SIZE $FONT-TITLE;
  color: $COLOR2;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  bottom: 16px;
  right: 0;
}

.post-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  margin: 32px 0 0;
}

.post-content {
  padding-left: 100px;
  text-align: justify;
  a {
    text-decoration: underline;
    font-weight: bold;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
.post-content {
  padding-left: 0px;
  }
}

.post-two-columns {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  @include media-query(DESKTOP) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.post-column {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;

  @include media-query(DESKTOP) {
    width: 50%;
    text-align: left;
  }
}

.logo-column {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  width: 100%;
  //padding: 2% 4%;
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .logo-column {
    -ms-flex: 40%;
    flex: 40%;
    max-width: 40%;
  }
}

.logo-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
 // padding: 3% 3%;
  padding: 0 4px;
}

.post-left-column {
  padding: 0;
  @include media-query(DESKTOP) {
    padding-right: 5px;
  }
}
.post-right-column {
  padding: 0;
  @include media-query(DESKTOP) {
    padding-left: 5px;
  }
}

.footer {
  position: relative;
  color: #262626 !important;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding: 2% 5%;
  border-top: 1px #000 dashed;
  background-color: $COLOR1;
  a {
        color: #262626 !important;
        width:22%;
      margin-right:3%;
        @media screen and (max-width: 800px)  {
        width:47%;
        margin-right:3%;
      }
    }
  @media screen and (max-width: 800px)  {
        bottom:0;
    }
}

.footer-line {
  line-height: 1.7;
  vertical-align: middle;
}
a.footer-line {
  text-decoration: underline;
  font-weight: 200;
}

.footer-logos {
  display: flex;
  flex-direction: column;

  @include media-query(DESKTOP) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.footer-logo-container {
  width: 100%;
}

.footer-logo-container + .footer-logo-container {
  margin-top: 32px;

  @include media-query(DESKTOP) {
    margin: 0;
  }
}

i.fa-1_5x {
  font-size: 1.5em;
}

.parceira-logo {
  //display: inline;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  filter: grayscale(100%);
  transition: filter $TRANSITION-PERIOD linear;

  &:hover {
    filter: grayscale(0%);
  }
}

.silo-logo {
  height: 100px;
}

.share-container {
  margin-top: 35px;
  .share-icon-container {
    a {
      text-decoration: none;
    }
    a + a {
      margin-left: 6px;
    }
  }
}

.swipebox-gallery {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;

  .swipebox {
    margin: 1% 1%;
    width: 45%;

    @include media-query(DESKTOP) {
      width: 48%;
    }

    img {
      width: 100%;
    }
  }
}

.audio-wrapper {
  padding-bottom: 166px;
  position: relative;
  margin: 1rem auto;
  height: 0;
  width: 100%;
}

.video-wrapper-16x9 {
  padding-bottom: 56.25%;
}

.video-wrapper-4x3 {
  padding-bottom: 75%;
}

.video-wrapper {
  position: relative;
  margin: 1rem auto;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
