{% case page.lang %}
        {% when 'en' %}
        <a class="home-menu-item" href="{{ site.baseurl }}/en/publications/">Publications</a>
        {% else %}
        <a class="home-menu-item" href="{{ site.baseurl }}/publications/">Publicações</a>
{% endcase %}

{% assign currentYear = "" %}

{% for post in site.posts %}
  {% assign postYear = post.date | date: "%Y" %}
  {% if postYear != currentYear %}
    {% if currentYear != "" %}
          </ul>
      </div>
    </div>
    {% endif %}
    <div class="menu-section-container">
      <div class="menu-section-title">{{ postYear }}</div>
        <div class="menu-section">
          <ul>
    {% assign currentYear = postYear %}
  {% endif %}       
        {% if post.lang contains 'en' and page.lang contains 'en'%}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
        {% if post.lang contains 'pt' and page.lang contains 'pt'%}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
              
{% endfor %}
      </ul>
  </div>
</div>
