<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
    {% include language-selection.html %}
  </head>
  <body id=home>
    {% include menu-mobile.html %}
    {% include menu.html %}
    <div class="main-div">
      <div class="content-container">
        <div class="home-images-2">
          <div class="home-logo-2"></div></div>
        
        <div class="home-menu">
        </div>
        <div class="menu">
            <br>
            <br>
            {% include menu-items.html %}
        </div>
          <div class="content-home">
                {{ content }}
          </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
