<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    <div class="main-div">
      <div class="content-container">
        <div class="home-menu">
          <a class="home-menu-item" href="{{ site.baseurl }}/about/">Sobre</a>
        </div>
        <div class="home-images">
          <div class="home-logo"></div>
          <div class="home-cover"></div>
        </div>
        <div class="home-residents-menu">
          {% include menu-items.html %}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
