<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include menu-mobile.html %}
    <div class="main-div">
      <div class="content-container">
        <a href="{{ site.baseurl }}/">
          <div class="post-logo">
            {% if page.path contains '_posts' or true %}
              <div class="post-title">{{ page.title }}</div>
            {% endif %}
          </div>
        </a>
        <div class="post-content-container">
          <div class="menu">
            {% include menu-items.html %}
          </div>
          <div class="post-content">
            {{ content }}
            {% if page.swipebox %}
              {% include swipebox.html prefix=page.swipebox %}
            {% endif %}
            {% include share.html %}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
